@import 'modules/variables';
@import '../fonts/Lato/lato.css';
@import '../fonts/font-awesome.css';
@import 'skeleton/skeleton';
/*@import 'sprites/sprite';*/
@import 'sprites/sprite';

@import 'modules/common';

a{
  color: $gold;
}
body *{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 120%;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.m-header{
  background: #090909 url('../img/m-header__bg.jpg') center top no-repeat;
  background-size: cover;
  height: 100vh;
  .f-container{
    display: flex;
    justify-content: space-between;
  }
  &__menu{
    width: 180px;
    padding-top: 45px;
  }
  &__center{
    padding-top: 34px;
  }
  &__contacts{
    width: 180px;
    text-align: right;
    padding-top: 46px;
    a{
      color: #fff;
      &:hover{
        color: $gold;
      }
    }
  }
}

.m-menu{
  &__caption{
    font-size: 16px;
    color: $gold;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
  }
  &__list{
    padding-left: 25px;
    list-style-type: none;
    position: relative;
    &:before{
      content: "";
      display: inline-block;
      width: 5px;
      top: 6px;
      bottom: 6px;
      left: 0;
      background: transparent url('../img/line-gold.png') left top repeat-y;
      position: absolute;
    }
    li{
      margin-bottom: 21px;
    }
    a{
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:hover{
        color: $gold;
      }
    }
  }
}
.m-contacts{
  &__row{
    margin-bottom: 23px;
  }
  &__value{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    &--email{
      &:before{
        display: inline-block;
        content: "";
        left: 0;
        @include sprite($header-email);
        position: absolute;
        top: 3px;
      }
    }
    &--phone{
      &:before{
        display: inline-block;
        content: "";
        left: 0;
        @include sprite($header-phone);
        position: absolute;
        top: -2px;
      }
    }
  }
}
.m-logo{
  text-align: center;
  margin-bottom: 80px;
}
.m-slogan{
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 140%;
  max-width: 600px;
  letter-spacing: 3px;
}

.m-warranty{
  width: 100%;
  height: 1px;
  position: relative;
  margin-top: 116px;
  &__box{
    position: absolute;
    width: 360px;
    top: 0;
    right: 0;
    text-align: center;
    &:before{
      content: "";
      display: inline-block;
      width: 5px;
      height:100px;
      bottom: -30px;
      left: 70px;
      background: transparent url('../img/line-gold.png') left top repeat-y;
      position: absolute;
    }
    img{
      margin-right: -28px;
    }
  }
  &__text{
    font-size: 34px;
    color: #bb9b68;
  }
}