//= include/header.html

<script>document.title = "Каталог";</script>

<div class="b-catalog">
    <div class="container">
        <h1 class="header1">Leather</h1>
        <div class="f-row b-catalog__info">
            <div class="b-catalog__left">
                <div class="b-catalog__card">
                    <div class="b-catalog__border">
                        <div class="b-catalog__image" style="background-image: url('/assets/template/img/b-catalog__image-1.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="b-catalog__right">
                <div class="b-catalog__text">
                    Полы (напольные покрытия) из натуральной кожи, спрессованной для стойкости и жесткости. Защищенные для износостойкости полиуретановым лаком 31 класса. Более 20-ти различных полов из кожи, в том числе Аллигатор, Крокодил, Бизон, Питон, Кобра и многие другие. В кожаных полах Corkstyle используется только 100% натуральня "bonded leather” (измельченная и спрессованная натуральная кожа) высшего качества, производства известного немецкого концерна Salamander.
                </div>
                <button class="styled__btn">
                    <span class="styled__angles"></span>
                    <span class="styled__btntext">
                        Скачать каталог в pdf
                    </span>
                </button>
            </div>
        </div>
        <div class="products">
            <div class="products__caption">Каталог коллекции</div>
            <div class="f-row products__list">
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-1.jpg')"></div>
                    <div class="products__name">ALLIGATOR GOLD</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-2.jpg')"></div>
                    <div class="products__name">BISON OXYD</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-3.jpg')"></div>
                    <div class="products__name">BISON SILVER</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-4.jpg')"></div>
                    <div class="products__name">BOA BLACK</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-5.jpg')"></div>
                    <div class="products__name">BOA EXOTIC</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-6.jpg')"></div>
                    <div class="products__name">BOA OXYD</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-7.jpg')"></div>
                    <div class="products__name">BOA SAND</div>
                </a>
                <a href="#" class="products__item">
                    <div class="products__image" style="background-image: url('/assets/template/img/tmp/product-8.jpg')"></div>
                    <div class="products__name">ALLIGATOR GOLD</div>
                </a>
            </div>
        </div>
    </div>
</div>

//= include/footer.html