//= include/header.html

<script>document.title = "Detail";</script>


<div class="b-product">
    <div class="container">
        <h1 class="header1">Alligator Gold</h1>
        <div class="f-row b-product__columns">
            <div class="b-product__aside">
                <ul class="b-product-nav">
                    <li class="active">
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-1.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-2.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-3.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-4.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-5.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="b-product-nav__image" style="background-image: url('/assets/template/img/tmp/nav-6.jpg');">
                                <div class="b-product-nav__border"></div>
                            </div>
                            <div class="b-product-nav__name">ALLIGATOR GOLD</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="b-product__body">
                <div class="b-product__images">
                    <div class="b-product__slider">
                        <div><img src="/assets/template/img/tmp/detail-1-big.jpg" alt=""></div>
                        <div><img src="/assets/template/img/tmp/detail-1-big.jpg" alt=""></div>
                        <div><img src="/assets/template/img/tmp/detail-1-big.jpg" alt=""></div>
                        <div><img src="/assets/template/img/tmp/detail-1-big.jpg" alt=""></div>
                        <div><img src="/assets/template/img/tmp/detail-1-big.jpg" alt=""></div>
                    </div>
                    <div class="b-product__slider-nav">
                        <div><div class="img-box"><img src="/assets/template/img/tmp/detail-1.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/detail-2.jpg" alt=""></div></div><div><span><img src="/assets/template/img/tmp/detail-2.jpg" alt=""></span></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/detail-1.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/detail-2.jpg" alt=""></div></div>
                        <div><div class="img-box"><img src="/assets/template/img/tmp/detail-1.jpg" alt=""></div></div>
                    </div>
                </div>

                <div class="specifications">
                    <div class="specifications__caption">Технические характеристики</div>
                    <div class="f-row">
                        <div class="specifications__info">
                            <div class="table">
                                <div class="table__row">
                                    <div class="table__th"></div>
                                    <div class="table__th">Замковые</div>
                                    <div class="table__th">Клеевые</div>
                                </div>
                                <div class="table__row">
                                    <div class="table__td">Размер досок</div>
                                    <div class="table__td">915 х 305 mm</div>
                                    <div class="table__td">915 х 305 mm</div>
                                </div>
                                <div class="table__row">
                                    <div class="table__td">Tолщина</div>
                                    <div class="table__td">10,0 mm</div>
                                    <div class="table__td">10,0 mm</div>
                                </div>
                                <div class="table__row">
                                    <div class="table__td">Кол-во в уп.</div>
                                    <div class="table__td">1,68 м.кв</div>
                                    <div class="table__td">1,68 м.кв</div>
                                </div>
                                <div class="table__row">
                                    <div class="table__td">Цена</div>
                                    <div class="table__td">1500 руб./м2</div>
                                    <div class="table__td">1500 руб./м2</div>
                                </div>
                            </div>

                            <div class="specifications__property specifications__property--protect">
                                <span>Защита покрытия</span> Лак HotCoating (33 класс)
                            </div>
                            <div class="specifications__property specifications__property--montage">
                                <span>Система монтажа</span> Замок UNICLICK
                            </div>

                        </div>
                        <div class="specifications__cta">
                            <button class="specifications__btn">
                                <span class="specifications__angles"></span>
                                <span class="specifications__btntext">
                                    Заказать полы
                                </span>
                            </button>
                            <div class="instruction__item"><a href="#" class="instruction__ukladka">Инструкции по укладке</a></div>
                            <div class="instruction__item"><a href="#" class="instruction__use">Рекомендации по эксплуатации</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

//= include/footer.html