//= include/header.html

<script>document.title = "Вопросы и ответы";</script>

<div class="b-page">
    <div class="container">
        <div class="header1">Вопросы и ответы</div>
        <div class="f-row">
            <div class="aside">
                <div class="aside__menu">
                    <ul class="leftmenu">
                        <li><a href="#">Магазинам, салонам</a></li>
                        <li><a href="#">Дизайнерам и архитекторам</a></li>
                        <li><a href="#">Строителям и укладчикам</a></li>
                        <li><a href="#">Материалы для скачивания</a></li>
                        <li><a href="#">Оформление стендов</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">


                <div class="faq__list">

                    <div class="faq__item">
                        <a href="#" class="faq__link">
                            Какая температура должна быть при укладке полов?
                        </a>
                        <div class="faq__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore, architecto officiis expedita voluptatibus quaerat distinctio, beatae, animi similique necessitatibus aspernatur. Ipsum perspiciatis dignissimos aperiam itaque facere repudiandae laboriosam dicta.
                        </div>
                    </div>


                    <div class="faq__item">
                        <a href="#" class="faq__link">
                            Какими инструментами выполняется укладка полов?
                        </a>
                        <div class="faq__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti commodi culpa libero, ratione eos fuga incidunt explicabo natus dolore voluptates sapiente iste quae earum, cupiditate. Explicabo ratione earum, veritatis quidem.
                        </div>
                    </div>

                    <div class="faq__item">
                        <a href="#" class="faq__link">
                            Какой клей лучше использовать?
                        </a>
                        <div class="faq__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti commodi culpa libero, ratione eos fuga incidunt explicabo natus dolore voluptates sapiente iste quae earum, cupiditate. Explicabo ratione earum, veritatis quidem.
                        </div>
                    </div>

                    <div class="faq__item active">
                        <a href="#" class="faq__link">
                            Как обслуживать покрытие?
                        </a>
                        <div class="faq__text">
                            <p>В помещениях с низкой проходимостью можно проводить обычную уборку с использованием швабры. После этого пол можно протирать мягкой салфеткой и средством для мытья, разбавленным водой. Кроме того, нужно избегать луж.</p>
                            <p>В процессе эксплуатации Вы можете неоднократно обновлять лаковое покрытие, обратитесь за консультацией к специалисту для получения инструкций по обновлению.</p>
                            <p>В зависимости от уровня нагрузок, попадания солнечных лучей, цвет покрытия может побледнеть. Это следует учесть, если покрытия будут уложены в помещении с высоким воздействием солнечного света. Для избежания царапин и вмятин, необходимо использовать войлочные набойки на основании мебели. Ролики на креслах и стульях должны соответствовать стандарту (DIN 68131- эластичные ролики).</p>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</div>


//= include/footer.html