//= include/header.html

<script>document.title = "Материалы для скачивания";</script>

<div class="b-page">
    <div class="container">
        <div class="header1">Материалы для скачивания</div>
        <div class="f-row">
            <div class="aside">
                <div class="aside__menu">
                    <ul class="leftmenu">
                        <li><a href="#">Магазинам, салонам</a></li>
                        <li><a href="#">Дизайнерам и архитекторам</a></li>
                        <li><a href="#">Строителям и укладчикам</a></li>
                        <li class="active"><a href="#">Материалы для скачивания</a></li>
                        <li><a href="#">Оформление стендов</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                

                <div class="material__list">

                    <div class="material__item">
                        <div class="material__image-box" style="background-image: url('/assets/template/img/tmp/material-1.jpg')"></div>
                        <div class="material__info">
                            <div class="material__name">Скидка на все коллекции пробковых полов с 22 мая по 10 июля 20%</div>
                            <div class="material__text">
                                <p>При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации, напольные покрытия CORKSTYLE будут служить долго и надежно.</p>
                            </div>
                            <div class="material__btn">
                                <button class="triangle__btn">
                                    <span class="triangle__angles"></span>
                                    <span class="triangle__text">
                                        Перейти
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="material__item">
                        <div class="material__image-box" style="background-image: url('/assets/template/img/tmp/material-2.jpg')"></div>
                        <div class="material__info">
                            <div class="material__name">Скидка на все коллекции пробковых полов с 22 мая по 10 июля 20%</div>
                            <div class="material__text">
                                <p>При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации.</p>
                            </div>
                            <div class="material__btn">
                                <button class="triangle__btn">
                                    <span class="triangle__angles"></span>
                                    <span class="triangle__text">
                                        Перейти
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="material__item">
                        <div class="material__image-box" style="background-image: url('/assets/template/img/tmp/material-3.jpg')"></div>
                        <div class="material__info">
                            <div class="material__name">Скидка на все коллекции пробковых полов с 22 мая по 10 июля 20%</div>
                            <div class="material__text">
                                <p>При соблюдении инструкций по укладке, надлежащей подготовке основания, а также правильных и рекомендованных условий эксплуатации, напольные покрытия CORKSTYLE будут служить долго и надежно.</p>
                            </div>
                            <div class="material__btn">
                                <button class="triangle__btn">
                                    <span class="triangle__angles"></span>
                                    <span class="triangle__text">
                                        Перейти
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                
            </div>
        </div>
    </div>
</div>


//= include/footer.html